.service-card{
    padding:16px;
    text-align: center;
    h4{
        font-family: 'Poppins',sans-serif;
        font-size: 26;
        font-weight: 500;
        line-height: 170%;
        color: #08003A;
        margin-top: 10px;
        margin-bottom: 6px;
    }
    p{
        font-family: 'Open-Sans',sans-serif;
        line-height: 120%;
        color: #716D99;
        width: 179px;
        margin: auto;
    }
}